body {
  width: 100%;
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  background: #031321;
}
* {
  margin: 0px;
  padding: 0px;
  font-family: "Montserrat" sans-serif;
}
.container {
  position: relative;
  width: 1080px;
  margin: auto;
  padding: 50px;
  background-color: #fefefe;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  border-radius: 20px;
}
.col {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.progress-circular {
  position: relative;
  width: 250px;
  height: 250px;
  border-radius: 50%;
  background: conic-gradient(#880bea 0deg, #ededed 0deg);
  display: flex;
  justify-content: center;
  align-items: center;
}
.progress-circular::after {
  position: absolute;
  content: "";
  width: 210px;
  height: 210px;
  border-radius: 50%;
  background: #fefefe;
}
.progress-circular-2 {
  position: relative;
  width: 250px;
  height: 250px;
  border-radius: 50%;
  background: conic-gradient(#880bea 0deg, #ededed 0deg);
  display: flex;
  justify-content: center;
  align-items: center;
}
.progress-circular-2::after {
  position: absolute;
  content: "";
  width: 210px;
  height: 210px;
  border-radius: 50%;
  background: #fefefe;
}
.progress-circular-3 {
  position: relative;
  width: 250px;
  height: 250px;
  border-radius: 50%;
  background: conic-gradient(#880bea 0deg, #ededed 0deg);
  display: flex;
  justify-content: center;
  align-items: center;
}
.progress-circular-3::after {
  position: absolute;
  content: "";
  width: 210px;
  height: 210px;
  border-radius: 50%;
  background: #fefefe;
}
.progress-circular-4 {
  position: relative;
  width: 250px;
  height: 250px;
  border-radius: 50%;
  background: conic-gradient(#880bea 0deg, #ededed 0deg);
  display: flex;
  justify-content: center;
  align-items: center;
}
.progress-circular-4::after {
  position: absolute;
  content: "";
  width: 210px;
  height: 210px;
  border-radius: 50%;
  background: #fefefe;
}
.value {
  font-size: 60px;
  font-weight: 600;
  color: #880bea;
  z-index: 9;
}
.value-2 {
  font-size: 60px;
  font-weight: 600;
  color: #880bea;
  z-index: 9;
}
.value-3 {
  font-size: 60px;
  font-weight: 600;
  color: #880bea;
  z-index: 9;
}
.value-4 {
  font-size: 60px;
  font-weight: 600;
  color: #880bea;
  z-index: 9;
}
.text {
  font-size: 25px;
  font-weight: 600;
  color: #880bea;
  margin: 20px 0;
}

.wrapper {
  height: 100vh;
  width: 1024px;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}
.progress {
  margin: 30px auto;
  width: 70%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
.toggle-btn,
.toggle-btn1,
.toggle-btn2,
.toggle-btn3 {
  width: 80px;
  height: 40px;
  background: gray;
  border-radius: 30px;
  padding: 5px;
  transition: all 300ms ease-in-out;
}
.toggle-btn > .inner-circle,
.toggle-btn1 > .inner-circle,
.toggle-btn2 > .inner-circle,
.toggle-btn3 > .inner-circle {
  width: 40px;
  height: 40px;
  background: #fff;
  border-radius: 50%;
  transition: all 300ms ease-in-out;
}
.toggle-btn.active {
  background: #2169f3;
  box-shadow: 0 0 10px #2196f3, 0 0 40px #2196f3, 0 0 80px #2196f3;
  transition-delay: 0.5s;
}
.toggle-btn1.active {
  background: #f3219c;
  box-shadow: 0 0 10px #f3219c, 0 0 40px #f3219c, 0 0 80px #f3219c;
  transition-delay: 0.5s;
}
.toggle-btn2.active {
  background: #21ecf3;
  box-shadow: 0 0 10px #21ecf3, 0 0 40px #21ecf3, 0 0 80px #21ecf3;
  transition-delay: 0.5s;
}
.toggle-btn3.active {
  background: #a3f321;
  box-shadow: 0 0 10px #a3f321, 0 0 40px #a3f321, 0 0 80px #a3f321;
  transition-delay: 0.5s;
}
.toggle-btn.active > .inner-circle,
.toggle-btn1.active > .inner-circle,
.toggle-btn2.active > .inner-circle,
.toggle-btn3.active > .inner-circle {
  margin-left: 40px;
}
.icon1 {
  color: #fff;
  margin: 10px auto;
}
.circle {
  margin-top: 1vw;
  padding: 5px;
  width: 50px;
  height: 50px;
  border-radius: 50%;
  box-shadow: inset 0 0 8px #fff, inset 3px 0 12px #f0f, inset -3px 0 12px #0ff,
    inset 3px 0 50px #f0f, inset -3px 0 50px #0ff, 0 0 50px #fff,
    -2px 0 12px #f0f, 2px 0 12px #0ff;
}
.off_circle {
  margin-top: 1vw;
  padding: 5px;
  width: 50px;
  height: 50px;
  border-radius: 50%;
  box-shadow: inset 0 0 8px #000, inset 3px 0 12px #202020, inset -3px 0 12px #404040,
    inset 3px 0 50px #fefefe, inset -3px 0 50px #808080, 0 0 50px #fff,
    -2px 0 12px #808080, 2px 0 12px #202020;
}
